@charset "utf-8";
.mainbody{
	min-width: 340px;
	font-family:Roboto;
}

.OrgName {
	padding-top: 10px;
	width: 100%;
	text-align: center;
}
.divider{
	width:95%; 
	background-color: black; 
	height: 4px;
	border: 30px; 
	border-radius: 12px;
}
.Panel {
	padding-left: 2px;
	padding-right: 2px;
	display: block;
	position: relative;
	width: 100%;
	line-height: 40px;
}
.TopPanel {
	padding-left: 2px;
	padding-right: 2px;
	display: block;
	position:sticky;
	width: 100%;
	line-height: 40px;
	box-shadow: 0 7px 12px -5px rgba(0,0,0,0.4);
}
.buffer{
	border-bottom-left-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
	height: 30px;
	width: 100%;
	box-shadow: 0 7px 12px -5px rgba(0,0,0,0.4);
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  min-width: 300px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:lightgrey;
  display: block;
  transition: 0.7s;
}
.sidenav p {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: block;
  transition: 0.5s;
}
.sidenav a:hover {
  color: #24BCFB;
	text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#title h3 {
	padding-left: 2%;
	text-align: left;
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}
.NavBtn{
	border: none;
	border-radius: 0.3rem;
	background-color:white;
	display: inline-block;
	transition: all 0.7s;
}
.NavBtn:hover{
	color: #24bcfb;
}
.Lpanel {
	padding-left: 2%;
	display: inline-block;
	width:45%;	
}
.Rpanel {
	padding-right: 2%;
	position: relative;
	float: right;
	display: inline-block;
	width:45%;
}
.LPItems {
	margin: 1px;
	height: 20px;
	cursor:pointer
	}	
.RPItems{
	float: right;
	margin-right: 5px;
	cursor:pointer
}
.contain{
	cursor:pointer;
	display:inline-block; 
	position: relative;
	height: auto;
	margin: 5px;
	width:92%;
	}
.newsimg{
	border-radius: 0.7rem;
	height: auto;	
	width:100%;
	box-shadow: 0 7px 12px -5px rgba(0,0,0,0.4);
	transition: all 0.7s cubic-bezier(0.25,0.8,0.25,1);
	}
.Overlay{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	border-radius: 0.7rem;
	height: 100%;
	width:100%;
	background-color: #24BCFB;
	opacity: 0;
	transition: 0.5s ease;
}
	
.contain:hover .Overlay{
	opacity: 0.5;	
	}
.contain:hover .newsimg{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 20px rgba(0,0,0,0.22);
}

.paperbtn{
	text-align: center;
	border:none;
	background: white;
	border-radius: 0.3rem;
	display: inline-block;
	margin: 1 rem;
	position: relative;
	width: 200px;
	line-height: 28px;
	box-shadow: 0 1px 8px rgba(0,0,0,0.2), 0 4px 3px rgba(0,0,0,0.1);
	transition: all 1s cubic-bezier(0.25,0.8,0.25,1);
}
.paperbtn:hover{
	color: #24bcfb;
	box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.22);
}

#footer .footerPanel{
	position: relative;
	bottom: 0;
	display: block;
	
}
#footer.footerPanel h3{
	text-align: center;
	font-size: 18px;
}
#footer.footerPanel h5{
	text-align: center;
	font-size: 14px;
}
@media (min-width:481px) and (max-width: 992px) {
	.contain{
		width: 45%;
	}
	#title h3 {
	padding-left: 2.5%;
	}
}


@media (min-width:993px) {
	.contain{
		width: 23%;
	}
	#title h3 {
	padding-left: 2.2%;
	}
}



/*			Category section Begins 			*/

.CategoryCard{
	border-radius: 0.3rem;
	cursor:pointer;
	vertical-align: top;
	height: auto;
	padding: 10px;
	display:inline-block;
	text-align: justify;
	margin: 5px;
	width:48%;
	box-shadow: 0 2px 4px 0.2px rgba(0,0,0,0.25);
	transition: 0.3s;
}
.CategoryCard:hover{
	box-shadow: 0 14px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.CategoryCard a{
	color: Black;
	transition: all 0.3s ease;
}
.CategoryCard a:hover{
	color: #24BCFB;
	text-decoration: none;
}
.CategoryCard p{
	font-size: 16px;
	line-height: 20px;
}
@media(max-width:480px)
{
	.CategoryCard{
		width: 97%;
	}
	.CategoryCard p{
	font-size: 14px;
}
}
@media (min-width:481px) and (max-width:768px) {
	.CategoryCard{
		width: 97%;
	}
}
@media (min-width:769px) {
	.CategoryCard{
		width: 48%;
	}
}
/*			Category section Ends 			*/

/*			Reader section Begins 			*/
#Reader h1{
	text-align: justify;
	padding-left: 3%;
	padding-right: 3%;
}
#Reader h5{
	font-style: italic;
	color: gray;
	text-align: justify;
	padding-left: 3%;
	padding-right: 3%;
}
#Reader h6{
	color: gray;
	text-align: justify;
	padding-left: 3%;
	padding-right: 3%;
}
#Reader p{
	text-align: justify;
	padding-left: 3%;
	padding-right: 3%;
}
/*			Reader section Ends 			*/