@charset "utf-8";
.mainbody{
	min-width: 340px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-display: swap;
	scroll-behavior: smooth;
	colour:black;
}

.OrgName {
	width:100px;
	text-align: center;
}
.divider{
	width:95%; 
	background-color: black; 
	height: 4px;
	border: 30px; 
	border-radius: 12px;
}
.Panel {
	padding-left: 2px;
	padding-right: 2px;
	display: block;
	position: relative;
	width: 100%;
	line-height: 40px;
}
.TopPanel {
	z-index: 1;
	background-color: white;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-left: 12px;
	padding-right: 12px;
	display: block;
	width: 100%;
	height: 54px;
	box-shadow: 0 6px 18px -4px rgba(0,0,0,0.4);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  min-width: 300px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 32px;
  color:lightgrey;
  display: block;
  transition: 0.7s;
}
.sidenav p {
  cursor: pointer;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:white;
  display: block;
  transition: 0.5s;
}
.sidenav a:hover {
  color: #24BCFB;
	text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#title h3 {
	padding-left: 2%;
	text-align: left;
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}
.NavBtn{
	border: none;
	border-radius: 0.3rem;
	background-color:white;
	display: inline-block;
	transition: all 0.7s;
}
.NavBtn:hover{
	color: #24bcfb;
}
.ShareBtn{
	color: white;
	border:none;
	border-radius: 0.3rem;
	background-color:#24bcfb;
	display: inline-block;
	transition: all 0.7s;
}
.ShareBtn:hover{
	color: white;
	background-color:black;
}
.TopCol{
	width: 48%;
	display: inline-block;
}
.ColTopMenu {
	colour:black;
	position: fixed;
	top:6px;
	left: 18px;
	font-size: 28px;
	display: inline-block;	
	cursor:pointer
}
.ColTopBanner {
	position: fixed;
	top:-6px;
	left: 50px;
	font-size: 30px;
	display: inline-block;	
	cursor:pointer
}
.ColTopSearch {
	position: fixed;
	top:16px;
	right: 30px;
	width: 18px;
	display: inline-block;	
	cursor:pointer
}
.ColTopLang {
	position: fixed;
	top:10px;
	right: 70px;
	width: 45%;
	font-size: 20px;
	display: inline-block;	
	cursor:pointer
}
.contain{
	cursor:pointer;
	display:inline-block; 
	position: relative;
	height: auto;
	margin: 5px;
	width:92%;
	}
.contain h6{
	font-weight: bold;
	display: block;
	font-size: 14px;
	position: absolute;
	top:65%;
	padding-left: 10px;
	padding-right: 10px;
	opacity: 0;
}

.Newstext{
	font-weight: bold;
	display: block;
	font-size: 14px;
	position: absolute;
	top:65%;
	padding-left: 10px;
	padding-right: 10px;
	opacity: 0;
	transition: 0.5s ease;
}
.Newsdivider{
	top: 55%;
	left: 10px;;
	position: absolute;
	width:70%; 
	background-color: white; 
	height: 2px;
	border: 30px; 
	border-radius: 12px;
	opacity: 0;
	transition: 0.5s ease;
}

.newsimg{
	border-radius: 0.3rem;
	height: auto;	
	width:100%;
	box-shadow: 0 7px 12px -5px rgba(0,0,0,0.4);
	transition: all 0.5s cubic-bezier(0.25,0.8,0.25,1);
	}
.Overlay{
	position: absolute;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	border-radius: 0.2rem;
	height: 100%;
	width:100%;
	background-color: #24BAFB;
	opacity: 0;
	transition: 0.5s ease;
}
.Overlay a, hr, h6{
	color: white;
	opacity: 1;
}
.contain:hover .Overlay {
	opacity: 0.8;	
	}
.contain:hover .Newsdivider {
	opacity: 1;	
	}
.contain:hover .Newstext{
	opacity: 1;	
	}
.contain:hover .newsimg{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 20px rgba(0,0,0,0.22);
}

.paperbtn{
	text-align: center;
	border:none;
	background: white;
	border-radius: 0.3rem;
	display: inline-block;
	margin: 1 rem;
	position: relative;
	width: 200px;
	line-height: 28px;
	box-shadow: 0 1px 8px rgba(0,0,0,0.2), 0 4px 3px rgba(0,0,0,0.1);
	transition: all 1s cubic-bezier(0.25,0.8,0.25,1);
}
.paperbtn:hover{
	color: #24bcfb;
	box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.22);
}

#footer .footerPanel{
	position: relative;
	bottom: 0px;
	display: block;
	
}
#footer.footerPanel h3{
	text-align: center;
	font-size: 18px;
}
#footer.footerPanel h5{
	text-align: center;
	font-size: 14px;
}
@media (min-width:481px) and (max-width: 992px) {
	.sidenav a{
		font-size: 18px;
	}
	.contain{
		width: 45%;
	}
	#title h3 {
	padding-left: 2.5%;
	}
}


@media (min-width:993px) {
	.sidenav a{
		font-size: 30px;
	}
	.contain{
		width: 23%;
	}
	#title h3 {
	padding-left: 2.2%;
	}
}



/*			Category section Begins 			*/

.CategoryCard{
	border-radius: 0.3rem;
	cursor:pointer;
	vertical-align: top;
	height: auto;
	padding: 10px;
	display:inline-block;
	text-align: justify;
	margin: 5px;
	width:48%;
	box-shadow: 0 2px 4px 0.2px rgba(0,0,0,0.25);
	transition: 0.3s;
}
.CategoryCard:hover{
	box-shadow: 0 14px 18px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.CategoryCard a{
	color: Black;
	transition: all 0.3s ease;
}
.CategoryCard a:hover{
	color: #24BCFB;
	text-decoration: none;
}
.CategoryCard p{
	font-size: 16px;
	line-height: 20px;
}
@media(max-width:480px)
{
	.CategoryCard{
		width: 97%;
	}
	.CategoryCard p{
	font-size: 14px;
}
}
@media (min-width:481px) and (max-width:768px) {
	.CategoryCard{
		width: 97%;
	}
}
@media (min-width:769px) {
	.CategoryCard{
		width: 48%;
	}
}
/*			Category section Ends 			*/

/*			Reader section Begins 			*/
#Reader h1{
	text-align: justify;
	padding-left: 3%;
	padding-right: 3%;
}
#Reader h5{
	font-style: italic;
	color: gray;
	text-align: justify;
	padding-left: 3%;
	padding-right: 3%;
}
#Reader h6{
	color: gray;
	text-align: justify;
	padding-left: 3%;
	padding-right: 3%;
}
#Reader p{
	text-align: justify;
	padding-left: 3%;
	padding-right: 3%;
}
.readerimg{
	width: 95%;
	height: auto;
}
/*			Reader section Ends 			*/


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
	background: auto;
}
::-webkit-scrollbar-thumb {
  background: #24bcfb;
}
::-webkit-scrollbar-thumb:hover {
  background:#048DCC;
}

/* Search */

.search{
	left: 8%;
	position: relative;
	width: 85%;
	height: auto;
}

.social{
	margin: 20px;
	width:30px;
	display: inline-block;
}


.embed {
     position: relative;
     padding-bottom: 65.25%;
     padding-top: 2px;
     height: 0;
     overflow: auto; 
     -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY 
     border: solid black 1px;
} 
.embed iframe {
     position: absolute;
     top: 50px;
     left: 50px;
     width: 75%;
     height: 75%;
}
